* {
    font-size: 15px;
}

h1 {
    font: bold;
    width: 15%;
}

h3 {
    font-size: 15px;
}

a   {
    font-size: 15px;
}

.servicios {
    background-color: #f30;
    width: 8%;
}

.productos {
    background-color: #09f;
    width: 8%;
}

p {
    font-size: 15px;
}

