* {
    font-size: 15px;
}

h1 {
    font: bold;
    width: 15%;
}

h3 {
    font-size: 15px;
}

a   {
    font-size: 15px;
}

.servicios {
    background-color: #f30;
    width: 20%;
}

.productos {
    background-color: #09f;
    width: 20%;
}

p {
    font-size: 15px;
}

table {
    border: solid 3px #000;
    width: 20%;
    text-align: center;
}

th {
    border: solid 3px #000;
}

